@import 'inc/_normalize';
@import 'inc/canvas';

body{
	background-color: white; 
	margin: 0;padding: 0;
}

#process_002{
	background-color: rgba(2, 2, 24, 1);
}

#process_004{
	background-color: darken(blue,35);
}