#experiment_001 .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#experiment_001 .square {
  background: -webkit-linear-gradient(45deg, red, green, blue, yellow, brown);
  background: linear-gradient(45deg, red, green, blue, yellow, brown);
  width: 200%;
  height: 200%;
}
