#experiment_001 .wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0px);
          transform: translate3d(-50%, -50%, 0px);
}
#experiment_001 .content {
  background-image: url("../images/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1792px;
  height: 1008.0px;
  pointer-events: none;
}
